{% extends 'base.html' %}

{% block title %}Article Detail{% endblock title %}

{% block content %}
    <div class="article-entry">
        <h2>{{ article.title }}</h2>
        <span> By {{ article.author }} | {{ article.date }}</span>
        <span>{{ article.body }}</span>
    </div>
    <p><a href="{% url 'article_list' %}">All articles</a></p>
    <p><a href="{% url 'article_edit' article.pk %}">Edit</a> |
     <a href="{% url 'article_delete' article.pk %}">Delete</a> </p>
{% endblock content %}